.body-content 
  margin: 30px auto 120px
  .header
    font-size: 28px;
    margin: 0px 0 60px;
    background-color inherit;
    color: #000;
    font-family: 'graphik lcg web';
    font-family: 'Garamond Premier Pro';
    font-family: 'Noe Display';
    // text-transform uppercase
    text-align: left;
    // letter-spacing: .04em
    padding-bottom: 10px;
    word-spacing: 0em;
    font-weight: 500;
    
  .timestamp, .author
    font-family: "minion-pro";
    font-family: 'Garamond Premier Pro';
    font-family: 'Myriad Pro';
    text-align: left;
    padding: 4px 0 0px;
    color: #3c3830;
    font-size: .84em
    letter-spacing: .15em
    text-transform: uppercase;
    opacity: .55
  .author
    font-weight: 500;
    font-size: .9em;
    margin-bottom: 50px
    opacity: 1
    span 
      font-weight: 600;
      font-style:italic
      letter-spacing: 0;
      word-spacing: 5px;
      margin-right: 3px
      font-size: 1.1em;
      text-transform: none;
  
.paragraphs::first-letter 
    font-size: 380%;
    font-weight: 600;
    font-family: "Nocturno Display";
    font-family: "Adobe Calson Pro";
    margin-top: 10px;
    padding-right: 6px;
    width: 20px;
    letter-spacing: .1em;
    float: left;
.paragraphs 
  font-size: 1em;
  font-family:'Adobe Caslon Pro';
  font-family: "Charter";
  font-weight: 400;
  line-height: 1.5em;
  color:#2b3446;
