@import "../../_frame/Colors.styl"

containerborder = 1px solid rgba(0,0,0,.06)

.home-wrapper
  font-size: 1em;
  width: 520px;
  font-family: 'SF Pro Text';
  font-weight: 400;
  line-height: 1.5em;
  .bar 
    opacity: .3
  .profile-wrapper 
    margin-top: 100px;
    .profile-photo
      width: 160px;
      height: 160px;
      border-radius: 8px;
      margin-bottom: 10px;
      margin-right: 25px;
  .intro 
    font-size: 26px;
    margin: 100px 0 20px;
    color: #000;
    font-family: 'Myriad Pro';
    font-weight: 600;
    padding-bottom: 10px;
    word-spacing: 0em;
    margin-top: 50px;
  .sub-info 
    font-size: 14px;
    margin-top: 2px;
    


.home-info-title
  border-top: containerborder
  font-weight: 500
  padding: 20px 0 6px;
  font-size: 14px
  text-align: center
  button
    opacity: .6
    margin: 0 2px 0
    &.active
      font-weight: 700
      opacity: 1
.home-info
  padding: 0 10px;
  border-radius: 6px
  .info-col
    padding: 4px 8px
  h3
    font-size: 10px
    color colorolive
    font-weight: 800
    margin: 4px 0 4px
    text-transform uppercase
  p
    font-size: 15px
    color: colordefault
    font-weight: 400
    margin-bottom: 0
  .info-label
    text-transform: uppercase
    font-family: "SF Compact Text"
    font-size: 10px
    font-weight: 700;
    color: colorbody
