@import "../../_frame/Colors.styl"

containerborder = 1px solid rgba(0,0,0,.06)

.home-wrapper
  font-size: 1em;
  width: 600px;
  font-weight: 400;
  line-height: 1.5em;
  margin: 40px auto;
  .profile-wrapper
    position: absolute;
    display:inline-block
    vertical-align:top;
    top: 0;
    right: 0;
  .profile-photo
    width: 160px;
    height: 160px;
    border-bottom-left-radius: 84px;
  .bar 
    opacity: .3
    margin-top: 10px
    display:block;
  .intro 
    font-size: 44px;
    margin: 100px 0 40px;
    color: #00545a;
    // font-family: 'Minion Pro';
    padding-bottom: 10px;
    text-transform: uppercase;
    word-spacing: 0em;
    font-weight: 600;
    margin-top: 40px;
    letter-spacing: 0.24em;
    position: absolute
    top: 0
    left: 49%
  .sub-info 
    font-size: .84em;
    margin: 6px 0 80px;
    font-family: 'Myriad Pro';
    color:#7b776b
    color: rgba(0,0,0,.33)
    line-height: 1.4em
    opacity: .85
  .paragraph-intro
    color: #2b3446
    font-size: 1.1em;
    font-size: .94em;
    line-height: 1.55em;
    line-height: 1.8em;
    width:350px
    display:inline-block
    font-family:'CharterITC';
    // font-family:'Adobe Caslon Pro';
    // font-family:'SF Pro Text';
  .more-link
    // font-family: 'Minion Pro';
    // font-family:'SF Pro Text';
    // font-style:italic
    margin-bottom: 24px
    font-size:1em
    border-bottom: 1px solid rgba(0,95,95,.3)
    color: rgba(0,95,95,1);
  .pbreak
    height: 10px;
  .about-site
    font-weight: 500;
    margin-right: 2px;

.home-info-title
  border-top: containerborder
  font-weight: 500
  padding: 20px 0 6px;
  font-size: 14px
  text-align: center
  button
    opacity: .6
    margin: 0 2px 0
    &.active
      font-weight: 700
      opacity: 1
.home-info
  padding: 0 10px;
  border-radius: 6px
  .info-col
    padding: 4px 8px
  h3
    font-size: 10px
    color colorolive
    font-weight: 800
    margin: 4px 0 4px
    text-transform uppercase
  p
    font-size: 15px
    color: colordefault
    font-weight: 400
    margin-bottom: 0
  .info-label
    text-transform: uppercase
    font-family: "SF Compact Text"
    font-size: 10px
    font-weight: 700;
    color: colorbody
