.footer
  font-size: 1.6em;
  background-color: #efefef;
  background-color: rgba(0,37,40,0.98);
  background-color: #fff;
  background-color: #111;
  border-top: 1px solid;
  height: 180px;
  padding: 34px;
  text-align: center;
  color: #677;
  color: #e7d0ba;
  // border-top: 3px solid #efc579;
  // border-bottom-right-radius: 8px;
  // border-bottom-left-radius: 8px;
  
  .copyright 
    font-size: 13px;
    color: rgb(231,208,186);
    color: rgb(231,208,186);
    font-weight: 400;
    padding-top: 10px;
    font-family: "helvetica neue";
  .copytype 
    font-size: .48em;
    color: rgba(231,208,186,1)
    color: rgba(231,208,186,1)
    font-family: "Myriad Pro";
    font-family: "Minion Pro";
    font-weight: 500;
    font-style: italic;
  .footer-sig
    font-size: 1.14em
    font-family: 'Autograf PERSONAL USE ONLY'; 
    margin-bottom: -10px;
  .footer-msg 
    font-family: "Myriad Pro";
    font-family: "Minion Pro";
    margin-bottom: 10px;
    font-size: 14px;
