.footer
  font-size: 1.6em;
  // background-color: #efefef;
  // background-color: rgba(0,37,40,0.98);
  // background-color: #fff;
  // background-color: #111;
  // border-top: 1px solid;
  height: 140px;
  padding-top: 30px;
  text-align: center;
  color: #677;
  color: #e7d0ba;
  color: #218799
  // border-top: 3px solid #efc579;
  // border-bottom-right-radius: 8px;
  // border-bottom-left-radius: 8px;
  
  .copyright 
    font-size: 13px;
    color: rgb(231,208,186);
    color: rgb(231,208,186);
    color: #218799
    font-weight: 400;
    padding-top: 10px;
    font-family: "helvetica neue";
  .copytype 
    font-size: 0.4em;
    color: #e7d0ba;
    color: #e7d0ba;
    color: #218799;
    font-family: "Myriad Pro";
    font-family: "Chapaza";
    font-weight: 500;
    /* font-style: italic; */
  .footer-sig
    font-size: 1.2em
    font-family: 'Autograf PERSONAL USE ONLY'; 
    margin-bottom: -10px;
  .footer-msg 
    font-family: "Myriad Pro";
    font-family: "Chapaza";
    margin-bottom: 0px;
    font-size: .45em;
