.footer
  font-size: 1.6em;
  background-color: #ccc;
  height: 220px;
  padding: 30px;
  text-align: center;
  color: #677;
  .copyright 
    font-size: 13px;
    color: #888;
    font-weight: 400;
    padding-top: 10px;
    font-family: "helvetica neue";
  .copytype 
    font-size: 12px;
    color: #888;
    font-family: "Myriad Pro";
    font-weight: 400;
  .footer-sig
    font-size: 1.14em
    font-family: 'Autograf PERSONAL USE ONLY'; 
    margin-bottom: -10px;
  .footer-msg 
    font-family: "Myriad Pro";
    margin-bottom: 10px;
    font-size: 14px;
