@import "./Colors.styl"

header
  text-align: left;
  font-weight: 500;
  padding: 0px 0px 0px 0px;
  width: 180px;
  z-index: 3;
  border-radius: 5px;
  vertical-align: top;
  height: 100%;
  float: left;
  position: fixed;
  // background-color: rgba(0,35,45,0.96);
  // background-color: rgba(0,37,40,0.98);
  // top: 10px;
  z-index: 3;
  // border-radius: 5px;
  // margin:auto
  // box-shadow: 0px 3px 4px rgba(150,150,150,.3);
  // left: calc(50% - 340px);
  ul 
    margin 0
    padding 0
  li
    padding: 2px 0px;
    // border-top: 1px solid #eee
    a 
      transition: 0.3s;
      // color: #e7d0ba;
      // color: rgb(144,124,42);
      padding: 12px 10px;
      transition: 0.3s;
      color: #333;
      display: block;
      /* text-transform: uppercase; */
      letter-spacing: 0.02em;
      font-family: "marat sans";
      font-size:1em
      font-weight: 400
  .nav-sig 
    font-size: 1.89em !important;
    color: #000;
    display: inline-block;
    letter-spacing: 0.03em;
    color: #907c2a;
    background-color: #fff;
    text-align: center;
    padding: 20px 20px 40px 20px;
    width: 100%;
    font-family: 'Autograf PERSONAL USE ONLY';
    // color: #e7d0ba;
    
  .header-logo-text 
    text-align: left
    display:inline-block;
    font-size: 16px
        
.topic-header
    font-size: 0.9em;
    /* font-weight: 600; */
    font-family: "marat sans";
    color: #ccc;
    margin-bottom: 8px;
    letter-spacing: 0.28em;
    text-align: center;
    padding: 20px 20px 0px;
  
.topic-list
  display inline-block
  width: 170px
  
  .topic-item
    border-radius: 4px
    font-family: "marat sans";
    font-size:1em
    font-weight: 400
    letter-spacing: 0.02em;
    color: #333
    padding: 10px 14px 8px 30px;
    &.active
      background-color: rgba(0,0,0,.84)
      color: white
  

  
      