@import "./Colors"
font = "SF Pro Text", "Helvetica Neue", Arial

* 
  box-sizing border-box;


// Overwrites
.btn 
  border-radius: 6px
  background-color transparent

html 
  // background-color: rgb(242,242,242);
  // background-color: linear-gradient(#766e65, #8a8178);
  padding: 0 0px;
  margin: 0px 0px 0px;
  user-select: none;
  
body
  font-size: 16px;
  max-width: 860px;
  margin: auto;
  box-sizing: border-box;
  text-rendering: geometricPrecision;
  font-family: "Myriad Pro", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1c1e21;
  background: #f6f9fa;
  
.content
  margin: auto;
  padding: 40px 80px;
  width: 640px;
  margin-left: 200px
  max-width: 960px;
  border-radius: 6px;
  display: inline-block;
  background: #fff;
  border-left: 1px solid #eee;
  // background-color #fdf8f4;
  // border-radius: 6px;
  
  
h1, h2, h3, h4, h5, p
  line-height: 1.4em
  
input, button, submit 
  border:none; 
  background-color transparent
  outline:none;
  
a 
  color: colordefault
  cursor: hover
  fon
  transition: color .2s ease-out
  &:hover
    text-decoration: none
    color: colorlink
  
ul
  list-style:none

img 
  max-width 100%;
  height auto;
