@import "./Colors"
font = "SF Pro Text", "Helvetica Neue", Arial

* 
  box-sizing border-box;


// Overwrites
.btn 
  border-radius: 6px
  background-color transparent

html 
  background-color: #fff
  // background-color: linear-gradient(#766e65, #8a8178);
  padding: 0 0px;
  margin: 85px 30px 0px;
  user-select: none;
  
body
  // color #292e31;
  background-color #fdf8f4;
  font-size: 16px;
  max-width: 900px
  margin: auto
  border-radius: 8px;
  box-sizing border-box;
  text-rendering: geometricPrecision;
  font-family font, sans-serif
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: colordefault
  // background-color transparent;
  
.content
  margin: auto;
  padding: 40px 60px;
  width: 860px;
  max-width: 960px;
  
h1, h2, h3, h4, h5, p
  line-height: 1.4em
  
input, button, submit 
  border:none; 
  background-color transparent
  outline:none;
  
a 
  color: colordefault
  cursor: hover
  transition: color .2s ease-out
  &:hover
    text-decoration: none
    color: colorlink
  
ul
  list-style:none

img 
  max-width 100%;
  height auto;
